#account-orders-root {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

#account-orders-container {
    border-top:2px solid #fafafa22;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: .25rem;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    padding-bottom: 5vh;
    width: 95vw;
}

.account-orders-title {
    font-size: 30px;
    margin: 20px;
    color: white;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
    width: 90%;
}

.swaps-table {
    min-width: 45vw;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.container-swaps-item {
    padding: 10px;
}

.open-orders-actions {
    text-align: center;
    height: 100%;
}

.swaps-table-view {
    max-height: 50vh;
    overflow: auto;
    scroll-behavior: smooth;
    box-shadow: 10px 15px 20px -12px rgba(0,0,0,.25);
}

.open-orders-actions-button {
    padding: 5px;
    background: linear-gradient(to bottom, #fff, #eaeaea);
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .35em;
}

.open-orders-actions-button:hover {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.5);
}

.order-filled-buy {
    color: green;
}

.order-filled-sell {
    color: red;
}

.filled-swaps-legend {
    font-size: 14px;
    text-align: left;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .25rem;
    margin-top: 20px;
}

.filled-swaps-legend-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.filled-swaps-legend-container>p {
    margin-left: 10px;
}


.account-offer {
    width: 15%;
}
.account-receive {
    width: 15%;
}
.account-price {
    width: 30%;
}
.account-creation {
    width: 20%;
}
.account-filled {
    width: 40%;
}
.account-action {
    width: 20%;
}

.account-tr-clickeable {
    cursor: pointer;
}
