#admin-screen-root {
    background-color: #1ab7bc;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

.admin-container {
    border-top:2px solid #fafafa22;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: .25rem;
    transform: translate(-50%,-50%);
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
}

hr {
    margin: 20px;
}

.admin-item {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.admin-items-container {
    display: flex;
    flex-direction: row;
}

.admin-welcome-message {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.admin-welcome-explain {
    font-size: 15px;
    color: #fff;
    padding-bottom: 40px;
}

.admin-connect-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.admin-field {
    width: 500px;
    margin-top: 50px;
    padding: 50px;
    box-shadow: -2px 2px 8px 1px rgba(0, 0, 0, 0), 0px 0px 10px rgba(0, 0, 0, 0.1) inset
}

.admin-button {
    margin-top: 10px;
    height: 50px;
    width: 100%;
}

.admin-button:hover {
    border: 1px solid red;
}

.admin-maintenance-buttons {
    display: flex;
    flex-direction: row;
}

.admin-funds {
    width: 300px;
}