* {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

#body {
  font-size: 20px;
}

 /* Split the screen in half */
 .split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #1ab7bc;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #fff;
}

/* If you want the content centered horizontally and vertically */

.center {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerbot {
  position: fixed;
  z-index: 1;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigbutton {
  display: block;
  width: 100%;
  padding: 24px 38px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.bigtext {
  font-size: 35px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlayText {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.bigbutton {
  font-size: 30px !important;
}

.flatbutton {
  background: linear-gradient(to bottom, #0d6366, #2d8386);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0), -1px 2px 5px rgba(0, 0, 0, 0.3);
  outline:none;
  border: #0d6366 1px solid;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor:pointer;
}

.flatbutton:hover {
  background: linear-gradient(to bottom, #1d7376, #3d9396);
  outline:none;
}

.flatbutton:disabled {
  background-color: #cccccc;
  background-repeat:no-repeat;
  outline:none;
  border: #aaaaaa 1px solid;
  opacity: 1.0; 
  cursor: not-allowed;
  box-shadow: 0px 0px 0px #27272780;
}