#footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    display: flex;
    flex-direction: row;
}

.footer-iconation-item {
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    font-weight: 500;
}


.footer-iconation-item:hover {
    cursor: pointer;
}