#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2d8386;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 80px;
    box-shadow: 0 12px 25px -6px rgba(0,0,0,.12);
}

#header-content-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    align-items: center;
    margin-left: 1vw;
}

#header-content-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    width: 100%;
    align-items: center;
    margin-right: 1vw;
}

#logotext {
    padding-left: 20px;
    font-size: 40px;
    color: white;
}

#logo-text-href {
    text-decoration: none;
}

.header-bubble {
    background: #249195;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.diconnect:hover {
    background-color: #0d6366;
    background-repeat:no-repeat;
    outline:none;
}

.diconnect:disabled {
    background-color: #cccccc;
    background-repeat:no-repeat;
    outline:none;
    border: #aaaaaa 1px solid;
    opacity: 1.0; 
    cursor: not-allowed;
    box-shadow: 0px 0px 0px #27272780;
}

.header-buttons {
    margin-left: 10px;
    margin-right: 10px;
}

.svg-icon-button {
    width: 20px;
    height: 20px;
}