.swap-logo {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    z-index: 1;
}

.homepage-orders-centered {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.homepage-price-container {
}

 #homepage-create-swap-container {
    /* Position */
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    
    width: 75%;

    border-top:2px solid #fafafa22;
    border-radius: .25rem;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: row;
}
