.alert-box {
    position: fixed;
    top: 100px;
    left:50%;
    transform: translate(-50%, 0%);
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px;
    z-index: 2;
    margin:10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.noticeImg {
    width: 16px;
    height: 16px;
    text-align: center;
    display: block;
    margin-right: 5px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('/src/static/img/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('/src/static/img/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('/src/static/img/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('/src/static/img/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}
