#market-pair-root {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

#market-pair-container {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

#market-pair-title {
    font-size: 30px;
    margin: 20px;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
    text-align: center;
    width: 200px;
}


.market-pair-buyers-text {
    color: #74aa17;
    font-weight: 600;
}
.market-pair-sellers-text {
    color: #ec4b70;
    font-weight: 600;
}

.market-pair-left-price {
    min-width: 180px;
}

.market-pair-left-status {
    min-width: 20px;
}

.market-pair-left-amount {
    min-width: 100px;
}

.market-pair-left-total {
    min-width: 150px;
}

#market-pair-middleinfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #36b4b8;
    color: white;
    font-size: 17px;
}

#market-pair-view {
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 100%;
    box-shadow: 0 12px 25px -6px rgba(0,0,0,.25);
    border-radius: .15em;
    overflow: hidden;
}

#market-pair-spread {
    width: 50%;
    height: 20%;
}


#market-pair-lastprice {
    width: 50%;
    height: 20%;
}


#market-pair-left {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    min-height: 100%;
    width: 25%;
    background-color: #fafafa;
}

#market-pair-chart-choser {
    right: 20px;
    position: absolute;
    z-index: 10;
}

#market-pair-middle {
    width: 45%;
    background: #fafafa;
}

#market-pair-chart {
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    position: relative;
}

#market-pair-chart-canvas {
    height: 100%;
}

#market-pair-history {
    overflow: auto;
    border-bottom: 1px solid #cacaca;
}

#market-pair-right {
    width: 30%;
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

.market-pair-history-price {
    width: 200px;
}

.market-pair-history-amount {
    width: 200px;
}
.market-pair-history-total {
    width: 300px;
}
.market-pair-history-filled {
    width: 300px;
}

.market-pair-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#market-pair-sellers {
    background: #fafafa;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    min-height: 44%;
    max-height: 44%;
}

#market-pair-sellers-entries {
    display: flex;
    flex-direction: column-reverse;
}

#market-pair-buyers {
    background: #fafafa;
    overflow: auto;
    overflow-x: hidden;
    min-height: 30%;
    max-height: 44%;
}

.market-pair-tr-clickeable {
    cursor: pointer;
}

#seller-anchor {
    overflow-anchor: auto;
    height: 1px;
}

#seller-table{
	align-self: flex-end;
}


#market-pair-table-sellers-view {
    width: 100%;
}

.market-pair-table-content {
    flex: 1 1 auto;
    align-self: flex-end;
}

#market-pair-swap-spots {
    margin-left: 10px;
}

.market-pair-yourswap {
    font-weight: 800;
}

.market-pair-yourswap-seller {
    color: #ec4b70;
}

.market-pair-yourswap-buyer {
    color: #74aa17;
}


#market-pair-make-order {
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
    margin-left: 15px;
    margin-right: 15px;
}

#market-pair-buy-order {
    margin: 15px 0px;
    padding: 0px 26px;
    width: 50%;
    min-height: 250px;
    border-right: 1px solid rgb(226, 226, 226); 
}
#market-pair-sell-order {
    margin: 15px 0px;
    padding: 0px 26px;
    width: 50%;
    min-height: 250px;
}

.market-pair-make-order-title {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-bottom: 20px;
}

.market-pair-make-order-fields {
    font-size: 12px;
    text-align: left;
}

.market-pair-make-order-textfield {
    width: 25%;
}

.market-pair-make-order-hz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}

.market-pair-make-order-inputfield {
    width: 60%;
    border: 1px solid rgb(226, 226, 226);
    background: white;
    outline: currentcolor none medium;
    margin: 0px 3px auto auto;
    padding-left: 10px;
}

.market-pair-buysell-button {
    margin-top: 30px;
    flex: 1 1 0%;
    cursor: pointer;
    width: 100%;
    color: white;
    padding: 7px;
    font-size: 14px;
    outline: currentcolor none medium;
}

.market-pair-buy-button {
    border: 1px solid rgb(112, 168, 0);
    background: rgb(112, 168, 0) none repeat scroll 0% 0%;
}

.market-pair-sell-button {
    border: 1px solid rgb(234, 0, 112);
    background: rgb(234, 0, 112) none repeat scroll 0% 0%;
}

.market-pair-buy-button:hover {
    filter: brightness(1.1);
}
.market-pair-sell-button:hover {
    filter: brightness(1.1);
}

.market-pair-percent-button {
    width: 24%;
    border: 1px solid rgb(226, 226, 226);
    background: white;
    cursor: pointer;
    outline: currentcolor none medium;
    margin: 0px 3px auto auto;
}

.market-pair-percent-button:hover {
    border-color: #1ab7bc;
    color: #1ab7bc;
    background: #1ab7bc11;
}

.market-pair-make-order-balance {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.market-pair-make-order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}