#OrderChoserRoot {
  margin: auto;
  padding: 30px;
  width: 80%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

.ChoserTitle {
    width: 100%;
    font-size: 40px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.ChoserValues {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TokenChosers {
  display: flex;
  flex-direction: row;
}

.balanceInput {
  width: 100%;
  margin-left: 20px;
  border-radius: 4px;
  border: 1px solid hsl(0,0%,80%);
  text-align: center;
}

.balanceSelect {
  width: 100%;
}