.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.order-view-container {
    margin: auto;
    padding: 30px;
    width: 50%;
    border-radius: 1.25rem;
    box-shadow: 0 0 0 30px rgba(150,150,150, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
}


.order-view-container-pulse {
    animation: pulse 3s infinite;
}

.order-view-action-buttons {
    margin-top: 20px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(150,150,150, 0.1);
    }
    30% {
        box-shadow: 0 0 0 10px rgba(150,150,150, 0.2);
    }
    100% {
        box-shadow: 0 0 0 40px rgba(150,150,150, 0.0);
    }
}